<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5mk29EG73I9PEIRCBeWFKBr12rg13OIs</string>
	<key>GCM_SENDER_ID</key>
	<string>273325396141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crenno.orbit</string>
	<key>PROJECT_ID</key>
	<string>orbit-talk-73aad</string>
	<key>STORAGE_BUCKET</key>
	<string>orbit-talk-73aad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273325396141:ios:2a4fb995e9b3939eb17624</string>
</dict>
</plist>